<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
        <link rel="stylesheet" href="../styles/activities.css" />
        <title>Actividades - Cultura de Barrio</title>
    </head>
    <body>
        <div display="none" id="topPage"></div>
        <!-------------------  HEADER CONTENT  ------------------------->
        <header>
            <div class="headerContainer">
                <div class="backButton" onclick="back_to_home()">
                    <i class="ti ti-arrow-left"></i>
                    <span>Inicio</span>
                </div>
                <div class="logoContainer">
                    <img src="../resources/images/logoV2.png" alt="Logo" />
                    <h1>Actividades</h1>
                </div>
            </div>
            <div class="actionButtons">
                <!--Botón para ir a la página de calendario-->
                <span onclick="go_to_calendar()">Calendario</span>
                <!--Botón para ir a la página de estadísticas-->
                <span onclick="go_to_statistics()">Estadísticas</span>
                <!--Botón para ir a la página de autenticación-->
                <button id="subscribe-button" onclick="go_to_login()">
                    Iniciar Sesión
                </button>
            </div>
        </header>
        <!-------------------  MAIN CONTENT  ------------------------->
        <main>
            <!--BUTTON TO SCROLL UP-->
            <button class="up" onclick="up_screen()">
                <i class="ti ti-arrow-up"></i>
            </button>
            <!--TITLE SECTION-->
            <div class="activitiesHeader">
                <div class="activitiesTitle">
                    <h1>Descubre Actividades</h1>
                    <p>Encuentra experiencias increíbles en tu comunidad</p>
                </div>
                <div class="miniInfoActivities">
                    <span id="activitiesCount">
                        <!--ACTIVITIES COUNT PLACE-->
                        <!--Aqui se insertará la cantidad de actividades/eventos desde JavaScript-->
                    </span>
                    <div class="orderViewActivities">
                        <i
                            class="ti ti-layout-grid btnCuadricule activeOrder"
                        ></i>
                        <i class="ti ti-list btnList"></i>
                    </div>
                </div>
            </div>
            <!--SEARCH SECTION-->
            <div class="activitiesSearch">
                <div class="searchContainer">
                    <i class="ti ti-search"></i>
                    <input
                        type="text"
                        name="search"
                        id="search"
                        placeholder="Buscar actividades..."
                    />
                </div>
                <div class="categoryFilterContainer">
                    <button class="filterButton categoryFilter">
                        <i class="ti ti-filter"></i>
                        <span id="filterButtonContent"
                            >Todas las categorías</span
                        >
                        <i class="ti ti-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" id="dropdown-menu">
                        <!--CATEGORIES PLACE-->
                        <!--Aqui se insertarán las categorías desde JavaScript-->
                    </div>
                </div>
                <div class="orderFilterContainer">
                    <button class="filterButton orderFilter">
                        <span id="orderButtonContent">Orden</span
                        ><i class="ti ti-chevron-down"></i>
                    </button>
                    <div class="dropdown-menu" id="dropdown-menu-order">
                         <!--ORDER OPTIONS PLACE-->
                        <!--Aqui se insertarán las opciones de ordenamiento desde JavaScript-->
                    </div>
                </div>
            </div>
            <!--ACTIVITIES CONTAINER SECTION-->
            <div class="activitiesGeneralContainer">
                <div
                    class="activitiesContainer cuadriculeOrder"
                    id="activitiesContainer"
                >
                    <!--ACTIVITIES PLACE-->
                    <!--Aqui se insertará
                     las actividades/eventos desde javascript-->
                </div>
            </div>
        </main>

        <script src="../scripts/activities.js"></script>
    </body>
</html>
