<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
        <link rel="stylesheet" href="../styles/activities.css" />
        <title>Calendario - Cultura de Barrio</title>
    </head>
    <body>
        <!-------------------  HEADER CONTENT  ------------------------->
        <header>
            <div class="headerContainer">
                <div class="backButton" onclick="back_to_home()">
                    <i class="ti ti-arrow-left"></i>
                    <span>Inicio</span>
                </div>
                <div class="logoContainer">
                    <img src="../resources/images/logoV2.png" alt="Logo" />
                    <h1>Actividades</h1>
                </div>
            </div>
            <div class="actionButtons">
                <span onclick="go_to_calendar()">Calendario</span>
                <span onclick="go_to_statistics()">Estadísticas</span>
                <button id="subscribe-button" onclick="go_to_login()">
                    Iniciar Sesión
                </button>
            </div>
        </header>
        <!-------------------  MAIN CONTENT  ------------------------->
        <main>

        <script src="../scripts/activities.js"></script>
</body>

</html>