<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
        <link rel="stylesheet" href="../styles/activity.css" />
        <link rel="shortcut icon" href="../resources/images/logoV2.png" type="image/x-icon">
        <title id="tabTitlePlace">
            <!--TAB TITLE PLACE-->
            <!--Aquí se insertará el título de la actividad desde JavaScript-->
        </title>
    </head>
    <body>
        <!-------------------  HEADER CONTENT  ------------------------->
        <header>
            <div class="backButton" onclick="redireccionarActividades()">
                <i class="ti ti-arrow-left"></i>
                <span>Volver a Actividades</span>
            </div>
            <div class="actionButtons">
                <button id="shareButton" class="buttonHeader"><i class="ti ti-share"></i>Compartir</button>
                <button id="subscribeButton"></button>
            </div>
        </header>
        <!-------------------  MAIN CONTENT  ------------------------->
        <main>
            <!--BUTTON TO SCROLL UP-->
            <button class="up" onclick="up_screen()">
                <i class="ti ti-arrow-up"></i>
            </button>
            <!----  PRINCIPAL SECTION  ---->
            <section id="principalSection">
                <div id="overlayPrincipal">
                    <!----  IMAGE PLACE  ---->
                    <!--Aquí se insertará la imagen de la actividad desde JavaScript-->
                </div>
                <div id="principalContent">
                    <div id="principalCategoriesList">
                        <!----  CATEGORIES PLACE  ---->
                        <!--Aquí se insertarán las categorias desde JavaScript-->
                    </div>
                    <div id="titlePrincipal">
                        <!----  TITLE PLACE  ---->
                        <!--Aquí se insertará el título de la actividad desde JavaScript-->
                    </div>
                    <div id="mini-infoPrincipal">
                        <!---  MINI-INFO PLACE  ---->
                        <!--Aquí se insertará la mini información de la actividad desde JavaScript-->
                        <!-- <span
                            ><i class="ti ti-users"></i> 150/200 inscritos</span
                        > -->
                    </div>
                </div>
            </section>
            <!----  SECONDARY SECTION  ---->
            <section class="secondarySection">
                <!---- LEFT COLUMN WITH DESCRIPTION, PARTICIPANTS & QUESTIONS  ---->
                <div class="leftColumnContainer">
                    <!---  CATEGORIES  ---->
                    <div class="categoriesLeftColumn">
                        <button id="descriptionCategory" class="buttonCategory selectedCategory" onclick="cambiarVisibilidadCategoria('description')"
                            >Descripción</button
                        >
                        <button
                            id="participantsCategory" class="buttonCategory"
                            onclick="cambiarVisibilidadCategoria('participants')"
                            >Participantes</button
                        >
                        <button id="questionsCategory" class="buttonCategory" onclick="cambiarVisibilidadCategoria('questions')"
                            >Preguntas</button
                        >
                    </div>
                    <!---  LEFT CONTENT  ---->
                    <div class="leftContent">
                        <div id="descriptionContent" class="categoryContent descriptionContent">

                            <h3 class="title">Descripción</h3>
                            <p id="descriptionPlace">
                                <!--DESCRIPTION PLACE-->
                                <!--Aquí se insertará la descripción de la actividad desde JavaScript-->
                            </p>
                            <!----  REQUIREMENTS AND CARRY  ---->
                            <div class="reqs_carryContainer">
                                <div id="requirements">
                                    <h4 id="requirementsTitle"
                                        ><i class="ti ti-file-text"></i
                                        >Requisitos</h4
                                    >
                                    <div id="requirementsList">
                                        <!--REQUERIMENTS PLACE-->
                                        <!--Aquí se insertarán los requerimientos desde JavaScript-->
                                    </div>
                                </div>
                                <div id="carry">
                                    <h4 id="carryTitle"
                                    ><i class="ti ti-package"></i>Qué
                                    traer</h4
                                    >
                                    <div id="carryList">
                                        <!--CARRY PLACE-->
                                        <!--Aquí se insertarán los "Qué traer" desde JavaScript-->
                                        <!--
                                        <span
                                            ><i class="ti ti-progress-check"></i
                                            >Ropa cómoda</span
                                        >-->
                                    </div>
                                </div>
                            </div> 
                            <!----  ACCESSIBILITIES  ---->
                            <div id="accessibilitiesContent">
                                <h4 id="titleAccessibility"
                                    ><i class="ti ti-disabled-2"></i
                                    >Accesibilidad</h4
                                >
                                <div id="accessibilityList">
                                    <!--ACCESSIBILITIES PLACE-->
                                    <!--Aquí se insertarán las accesibilidades desde JavaScript-->
                                </div>
                            </div>
                        </div>
                        <div id="participantsContent"  class="categoryContent participantsContent oculto">
                            <span class="title">
                                <i class="ti ti-users"></i>
                                Participantes <span id="participantsLengthPlace">
                                    <!--PATICIPANTS LENGTH PLACE-->
                                    <!--Aquí se insertarán la cantidad de participantes desde JavaScript-->
                                </span>
                            </span>
                            <div id="participantList">
                                <!--PATICIPANTS PLACE-->
                                <!--Aquí se insertarán los participantes mediante tarjetas desde JavaScript-->
                            </div>
                        </div>
                        <div id="questionsInputContent" class="categoryContent questionsContent oculto">
                            <span class="title">
                                <i class="ti ti-help"></i>
                                Hacer una pregunta
                            </span>
                            <textarea id="questionInput" placeholder="¿Tienes alguna duda sobre la actividad? Pregunta aquí..." rows="3" maxlength="500" spellcheck="true" wrap="hard"></textarea>
                            <p id="questionResponsePlace">
                                <!--QUESTION RESPONSE PLACE-->
                                <!--Aquí se insertará la respuesta del intento de realizar pregunta desde JavaScript-->
                            </p>
                            <button id="sendQuestionButton">
                                <i class="ti ti-send"></i>
                                Enviar pregunta
                            </button>
                        </div>
                    </div>
                    <div id="questionsContent" class="categoryContent leftContent questionsContent oculto">
                        <span class="title">
                            <i class="ti ti-message-circle"></i>
                            Preguntas y respuestas <span id="questionsLengthPlace">
                                <!--QUESTIONS LENGTH PLACE-->
                                <!--Aquí se insertarán la cantidad de preguntas desde JavaScript-->
                            </span>
                        </span>
                        <div id="questionsList">
                            <!--QUESTIONS PLACE-->
                            <!--Aquí se insertarán las preguntas mediante tarjetas desde JavaScript-->
                        </div>
                    </div>
                </div>
                <!----  RIGHT COLUMN WITH DETAILS, ORGANIZER & TAGS  ---->
                <div class="rightColumnContainer">
                    <!----  CONTENT DETAILS  ---->
                    <div class="contentDetails cardsContainer">
                        <div class="contentDate">
                            <i class="ti ti-calendar"></i>
                            <div class="dateTime divData">
                                <span id="placeDate" class="divDataPrincipal">
                                    <!--DATE PLACE-->
                                    <!--Aquí se insertará la fecha de la actividad desde JavaScript-->
                                </span>
                                <span id="placeTime" class="divDataSecundary">
                                    <!--TIME PLACE-->
                                    <!--Aquí se insertará la hora de la actividad desde JavaScript-->
                                </span>
                            </div>
                        </div>
                        <div class="contentLocation">
                            <i class="ti ti-map-pin"></i>
                            <div class="locationDetails divData">
                                <p id="locationPlace" class="divDataPrincipal">
                                    <!--LOCATION PLACE-->
                                    <!--Aquí se insertará la ubicación de la actividad desde JavaScript-->
                                </p>
                                <p class="divDataSecundary">Ubicación</p>
                            </div>
                        </div>
                        <div class="contentDuration">
                            <i class="ti ti-clock"></i>
                            <div class="durationDetails divData">
                                <span id="placeDuration" class="divDataPrincipal">
                                    <!--DURATION PLACE-->
                                    <!--Aquí se insertará la duración de la actividad desde JavaScript-->
                                </span>
                                <span id="placeDificulty" class="divDataSecundary">
                                    Duración
                                </span>
                            </div>
                        </div>
                        <div class="contentPrice">
                            <i class="ti ti-currency-dollar"></i>
                            <div class="priceDetails divData">
                                <span id="placePrice" class="divDataPrincipal">
                                    <!--PRICE PLACE-->
                                    <!--Aquí se insertará el precio de la actividad desde JavaScript-->
                                </span>
                                <span class="divDataSecundary">Por persona</span>
                            </div>
                        </div>
                        <hr class="divider" />
                        <div class="contentAvailability">
                            <div class="availabilityDetails">
                                <span class="disponibilityTitle">Disponibilidad</span>
                                <span class="disponibilityCounter">
                                    <!--DISPONIBILITY PLACE-->
                                    <!--Aquí se insertará la disponibilidad de la actividad desde JavaScript-->
                                </span>
                            </div>
                            <progress id="placeProgress">
                                <!--PROGRESS PLACE-->
                                <!--Aquí se insertará la barra de progreso de la actividad desde JavaScript-->
                            </progress>
                            <span class="inscriptionCounter">
                                <!--COUNT PARTICIPANTS PLACE-->
                                <!--Aquí se insertará la cantidad de participantes sobre disponibilidad inicial de la actividad desde JavaScript-->
                            </span>
                        </div>
                    </div>
                    <!----  CONTENT ORGANIZER  ---->
                    <div class="contentOrganizer cardsContainer">
                        <span class="organizerTitle">Organizador</span>
                        <div class="organizerDetails">
                            <!--ORGANIZER IMAGE PLACE-->
                                <!--Aquí se insertará la foto del oragnizador de la actividad desde JavaScript-->
                            <img id="organizerImgPlace" src="#" alt="Foto - Organizador del evento" />
                            <div class="organizerInfo">
                                <span class="organizerNamePlace">
                                    <!--ORGANIZER NAME PLACE-->
                                    <!--Aquí se insertará el nombre del organizador de la actividad desde JavaScript-->
                                    </span>
                                    <span class="organizerEventsCount">
                                        <!--ORGANIZER EVENTS COUNT PLACE-->
                                        <!--Aquí se insertará la cantidad de eventos del organizador de la actividad desde JavaScript-->
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-------------------  SCRIPT  ------------------------->
        <script src="../scripts/activity.js"></script>
    </body>
</html>
