<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/auth.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
        <title>Cultura de Barrio - Inicia sesión o regístrate</title>
    </head>

    <body>
        <!-------------------  HEADER CONTENT  ------------------------->
        <header>
            <div class="logo-container">
                <img
                    src="../resources/images/logoV2.png"
                    alt="Cultura de Barrio Logo"
                    srcset=""
                />
                <div class="logo-text-container">
                    <span class="logo-text">Cultura de Barrio</span>
                    <span class="tagline">Conectando comunidades</span>
                </div>
            </div>
            <div class="backButton" onclick="goToLandingPage()">
                <i class="ti ti-arrow-left"></i>
                <span>Volver</span>
            </div>
        </header>

        <!-------------------  MAIN CONTENT  ------------------------->
        <main>
            <div class="login-container">
                <div class="login-box">
                    <h2 id="titulo-formulario">
                        <!----  FORM TITLE CONTENT  ---->
                        <!-- Aquí se insertará el título del formulario desde JavaScript -->
                    </h2>
                    <p class="subtitulo" id="subtitulo-formulario">
                        <!----  FORM SUBTITLE CONTENT  ---->
                        <!-- Aquí se insertará el subtítulo del formulario desde JavaScript -->
                    </p>
                    <div id="contenedor-formulario-dinamico" class="form">
                        <!----  FORM CONTENT  ---->
                        <!-- Aquí se insertará el contenido del formulario desde JavaScript -->
                    </div>
                    <div>
                        <p class="cambiar-formulario">
                            ¿No tienes una cuenta?
                            <span
                                id="enlace-cambiar-formulario"
                                onclick="cambiarFormularios()"
                            >
                                <!----  LINK TO SWITCH FORMS  ---->
                                <!-- Aquí se insertará el enlace para cambiar de formulario desde JavaScript -->
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div
                id="contenedor-beneficios-dinamico"
                class="beneficios-container"
            >
                <div class="titulo-beneficios">Al formar parte obtienes:</div>
                <div class="beneficios">
                    <ul>
                        <li>Acceso completo</li>
                        <li>Inscripción a actividades</li>
                        <li>Perfil de comunidad</li>
                    </ul>
                </div>
            </div>
        </main>

        <script src="../scripts/auth.js"></script>
    </body>
</html>
