<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
        <link
            rel="shortcut icon"
            href="../resources/images/logoV2.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../styles/calendar.css" />
        <title>Calendario - Cultura de Barrio</title>
    </head>
    <body>
        <!-------------------  HEADER CONTENT  ------------------------->
        <header>
            <div class="headerContainer">
                <div class="backButton">
                    <i class="ti ti-arrow-left"></i>
                    <span>Inicio</span>
                </div>
                <div class="logoContainer">
                    <img src="../resources/images/logoV2.png" alt="Logo" />
                    <h1>Calendario</h1>
                </div>
            </div>
            <div class="actionButtons">
                <span class="actionButton activitiesButton">Actividades</span>
                <span class="actionButton statisticsButton">Estadísticas</span>
                <button id="subscribe-button">Iniciar Sesión</button>
                <div class="infoHeaderUserLogged">
                    <!--USER PROFILE-->
                    <!-- Aquí se insertará la información del usuario logueado-->
                </div>
            </div>
        </header>
        <!-------------------  MAIN CONTENT  ------------------------->
        <main>
            <!--BUTTON TO SCROLL UP-->
            <button class="up">
                <i class="ti ti-arrow-up"></i>
            </button>
            <div class="calendarHeaderContainer">
                <div class="calendarTitleContainer">
                    <span class="calendarTitle">Calendario de Actividades</span>
                    <span class="calendarSubtitle">
                        <!--COUNT EVENTS PLACE-->
                        <!--Aquí se mostrará la cantidad total de eventos desde JavaScript-->
                    </span>
                </div>
                <div class="calendarFilterContainer">
                    <button class="calendarFilterButton button-left" data-month-selector="previous">
                        <i class="ti ti-chevron-compact-left"></i>
                    </button>
                    <span class="month">
                        <!--MONTH PLACE-->
                        <!--Aquí se mostrará el mes seleccionado desde JavaScript-->
                    </span
                    ><button class="calendarFilterButton button-right" data-month-selector="next">
                        <i class="ti ti-chevron-compact-right"></i>
                    </button>
                </div>
            </div>
            <div class="calendarGrid">
                <span class="monthSubtitle">
                    <!--MONTH SUBTITLE PLACE-->
                    <!--Aquí se insertará el subtitulo del mes-->
                </span>
                <hr />
                <span class="activityCount">
                    <!--ACTIVITY COUNT PLACE-->
                    <!--Aquí se mostrará la cantidad total de eventos por mes seleccionado desde JavaScript-->
                </span>
            </div>
            <div class="calendarActivityContainer">
                <!--ACTIVITIES PLACES-->
                <!--Aquí se insertarán las actividades del mes desde JavaScript-->
            </div>
        </main>
        <script type="module" src="../scripts/calendar.js"></script>
    </body>
</html>
