<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css"
        />
        <link
            rel="shortcut icon"
            href="../resources/images/logoV2.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../styles/calendar.css" />
        <title>Calendario - Cultura de Barrio</title>
    </head>
    <body>
        <!-------------------  HEADER CONTENT  ------------------------->
        <header>
            <div class="headerContainer">
                <div class="backButton">
                    <i class="ti ti-arrow-left"></i>
                    <span>Inicio</span>
                </div>
                <div class="logoContainer">
                    <img src="../resources/images/logoV2.png" alt="Logo" />
                    <h1>Calendario</h1>
                </div>
            </div>
            <div class="actionButtons">
                <span class="actionButton activitiesButton">Actividades</span>
                <span class="actionButton statisticsButton">Estadísticas</span>
                <button id="subscribe-button">Iniciar Sesión</button>
                <div class="infoHeaderUserLogged">
                    <!--USER PROFILE-->
                    <!-- Aquí se insertará la información del usuario logueado-->
                </div>
            </div>
        </header>
        <!-------------------  MAIN CONTENT  ------------------------->
        <main>
            <!--BUTTON TO SCROLL UP-->
            <button class="up">
                <i class="ti ti-arrow-up"></i>
            </button>
            <div class="calendarHeaderContainer">
                <div class="calendarTitleContainer">
                    <span class="calendarTitle">Calendario de Actividades</span>
                    <span class="calendarSubtitle">
                        <!--COUNT EVENTS PLACE-->
                        <!--Aquí se mostrará la cantidad total de eventos desde JavaScript-->
                    </span>
                </div>
                <div class="calendarFilterContainer">
                    <button class="calendarFilterButton button-left" data-direction="previous">
                        <i class="ti ti-chevron-compact-left"></i>
                    </button>
                    <span class="month">
                        <!--MONTH PLACE-->
                        <!--Aquí se mostrará el mes seleccionado desde JavaScript-->
                    </span
                    ><button class="calendarFilterButton button-right" data-direction="next">
                        <i class="ti ti-chevron-compact-right"></i>
                    </button>
                </div>
            </div>
            <div class="calendarGrid">
                <span class="monthSubtitle">
                    <!--MONTH SUBTITLE PLACE-->
                    <!--Aquí se insertará el subtitulo del mes-->
                </span>
                <hr />
                <span class="activityCount">
                    <!--ACTIVITY COUNT PLACE-->
                    <!--Aquí se mostrará la cantidad total de eventos por mes seleccionado desde JavaScript-->
                </span>
            </div>
            <div class="calendarActivityContainer">
                <div class="activity">
                    <div class="datetimeActivity">
                        <div class="date">
                            <span class="day">15</span
                            ><span class="weekday">SÁB</span>
                        </div>
                        <div class="time">
                            <span class="hour">20:00</span>
                            <span class="duration">6 horas</span>
                        </div>
                    </div>
                    <div class="informationActivity">
                        <div class="titleActivityContainer">
                            <span class="titleActivity"
                                >Fiesta Remate de Semestre</span
                            ><span class="ratingActivity"
                                ><i class="ti ti-star"></i> 4.8</span
                            >
                        </div>
                        <div class="tags">
                            <span class="tag">Fiesta</span
                            ><span class="tag">Música</span>
                        </div>
                        <div class="detailsActivity">
                            <span class="location"
                                ><i class="ti ti-map-pin"></i> Parque
                                Central</span
                            >
                            <span class="participants"
                                ><i class="ti ti-users"></i> 150/200
                                participantes</span
                            >
                        </div>
                    </div>
                    <div class="priceActivity">
                        <span class="price">$15.000</span>
                        <span class="spots">50 cupos disponibles</span>
                    </div>
                </div>
            </div>
        </main>
        <script type="module" src="../scripts/calendar.js"></script>
    </body>
</html>
