<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <title>Document</title>
</head>
<body>
    <!-------------------  HEADER CONTENT  ------------------------->
    <header>
        <nav>
            <div class="home">
                <a href="">
                    <i class="ti ti-arrow-left"><p>back</p></i>
                </a>
                <h1>Estadisticas</h1>
            </div>
            <div>
                <a href="">Actividades</a>
                <a href="">Calendario</a>
                <button>Login</button>
            </div>
        </nav>
    </header>
    <!-------------------  MAIN CONTENT  ------------------------->
    <main>
        <h1>Estadísticas de la Comunidad</h1>
        <span>Descubre el impacto de las actividades en tu barrio</span>
        <!-------------------  FULL CARDS  ------------------------->
        <div class="statistic-cards">
            <div class="full-activities">
                <p>Total Actividades</p>
                <h1>6</h1>
                <h5>+15.3% este mes</h5>
            </div>
            <div class="full-parcipants">
                <p>Total Partipantes</p>
                <h1>333</h1>
                <h5>+41 nuevo</h5>
            </div>
            <div class="full-average">
                <p>Total Partipantes</p>
                <h1>333</h1>
                <h5>+41 nuevo</h5>
            </div>
            <div class="full-income">
                <p>Total Partipantes</p>
                <h1>333</h1>
                <h5>+41 nuevo</h5>
            </div>
        </div>
    </main>
</body>
</html>