@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --text-color-P: rgba(255, 255, 255, 0.8);
    --text-color-S: #1f2937;
    --text-color-2: #fff9;
    --text-color-3: rgb(216, 216, 216);
    --text-color-4: #4b5563;
    --text-color-especial: #9333ea;
}

* {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
}

html {
    min-height: 100%;
    background: linear-gradient(
        115deg,
        #1c183a 0%,
        #591d85 49%,
        #591d85 50%,
        #591d85 51%,
        #1c183a 100%
    );
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text-color-P);
    min-height: 100%;
}

/*-------------- HEADER --------------*/

header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    min-width: 100%;
    padding: 10px 5%;
    border-bottom: 1px solid #633e89de;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(15px);
    background-color: #3d1a6664;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    letter-spacing: 0.3px;
}

header .logo-container img {
    width: 40px;
    height: auto;
    margin: 0;
    padding: 0;
}

header .logo-container .logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .logo-container .logo-text-container .logo-text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

header .logo-container .tagline {
    color: var(--text-color-2);
    font-size: 12px;
    line-height: 16px;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 4px;
}

.backButton:hover * {
    color: var(--text-color-2);
}

/*-------------- MAIN --------------*/

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.login-box {
    background: #f7f7fb;
    padding: 24px;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 0 20px 60px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 2px;
    color: #222222;
}

.subtitulo {
    font-size: 16px;
    color: #4b5563;
    margin-bottom: 30px;
    margin-top: 8px;
    font-weight: 450;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
    margin: 10px auto;
}

.campoContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.campo {
    display: flex;
    flex: 1 1 0;
    min-width: 0;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.campo label {
    font-size: 14px;
    color: #5a5a5a;
    margin-bottom: 10px;
    margin-top: -5px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-icono {
    position: relative;
}

.input-icono i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #7575753e;
    font-size: 16px;
}

.input-icono input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 15px;
    background-color: #fff;
    box-sizing: border-box;
    outline: none;
    color: #4b5563;
}

input[type="date"]::-webkit-datetime-edit, input::placeholder {
    color: #75757593;
}

.input-icono input:hover {
    border-color: #ff7b0088;
}

.input-icono input:focus {
    border-color: #ff7a00;
}

.btn-auth {
    width: 100%;
    padding: 14px;
    background-image: linear-gradient(to bottom, #8d5cf6, #893cd7);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btn-auth:hover {
    background-image: linear-gradient(to bottom, #8d5cf6, #9146dd);
}

.extra-opciones {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: -5px;
    margin-bottom: -15px;
    font-size: 14px;
    font-weight: 620;
    color: #4b5563;
}

.extra-opciones label {
    display: flex;
    align-content: center;
    font-weight: 500;
    gap: 5px;
}

.extra-opciones a {
    color: #e06d01;
    font-weight: 620;
    text-decoration: none;
    align-content: center;
}

.extra-opciones a:hover {
    color: #c2410c;
}

.cambiar-formulario {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #4b5563;
}

.cambiar-formulario span {
    color: #ea580c;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
}

.cambiar-formulario span:hover {
    color: #c2410c;
}

.divisor {
    display: flex;
    align-items: center;
    text-align: center;
    color: #999;
    font-size: 15px;
    margin: -5px 0;
}

.divisor::before,
.divisor::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.divisor::before {
    margin-right: 10px;
}

.divisor::after {
    margin-left: 10px;
}

.checkbox {
    font-size: 15px;
    text-align: left;
    color: #4b5563;
}

.checkbox a {
    color: #ff7a00;
    text-decoration: none;
    font-weight: 600px;
}

#mensaje {
    margin-top: 10px;
    font-size: 14px;
}

.oculto {
    display: none;
}

.beneficios-container {
    margin-bottom: 25px;
    text-align: center;
}

.titulo-beneficios {
    color: #fff9;
    font-size: 15px;
    font-weight: 450;
    line-height: 10px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 5px;
}

.beneficios ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.beneficios li {
    position: relative;
    padding-left: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff9;
}

.beneficios li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #ff7a00;
    border-radius: 50%;
}
