@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --text-color-P: rgb(216, 216, 216);
    --text-color-S: #1f2937;
    --text-color-2: #fff9;
    --text-color-3: rgba(255, 255, 255, 0.8);
    --text-color-4: #4b5563;
    --text-color-especial: #9333ea;
}

* {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}

html {
    min-height: 100%;
    background: linear-gradient(
        115deg,
        #1c183a 0%,
        #591d85 49%,
        #591d85 50%,
        #591d85 51%,
        #1c183a 100%
    );
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text-color-P);
    min-height: 100%;
    text-shadow: 0 2px 3px rgba(255, 255, 255, 0.1);
}

/*-------------- HEADER --------------*/

header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    min-width: 100%;
    padding: 10px 5%;
    border-bottom: 1px solid #633e89de;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(15px);
    background-color: #3d1a6664;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    letter-spacing: 0.3px;
}

header .logo-container img {
    width: 40px;
    height: auto;
    margin: 0;
    padding: 0;
}

header .logo-container .logo-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .logo-container .logo-text-container .logo-text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

header .logo-container .tagline {
    color: var(--text-color-2);
    font-size: 12px;
    line-height: 16px;
}

header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

header ul li {
    list-style: none;
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--text-color-3);
    cursor: pointer;
    font-weight: 500;
}

header ul li:hover {
    transform: scale(1.01);
    display: inline-block;
    font-weight: 600;
}

header .auth-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .auth-buttons button {
    align-items: center;
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    padding: 11px 16px;
    border: none;
    cursor: pointer;
}

header .auth-buttons #loginButton {
    background-color: transparent;
    font-weight: 500;
    color: var(--text-color-3);
    transition: all 0.1s ease-in-out;
}

header .auth-buttons #loginButton:hover {
    background-color: #613b83af;
    font-weight: 600;
    box-shadow: 0 2px 8px 0 rgb(51, 16, 80, 0.3);
}

header .auth-buttons #registerButton {
    background: linear-gradient(to right, #8d5cf6, #a755f7);
    box-shadow: 0 2px 8px 0 rgb(51, 16, 80, 0.3);
    font-weight: 600;
    color: white;
}

/*---------------MAIN---------------*/

main {
    flex: 2;
}

/*-------------- SECTIONS --------------*/

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px 50px;
}

section .titleSection,
.principalSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 48px;
}

section .titleSection .sectionTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
}

section .titleSection .descriptionSection {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
}

/*---------------PRINCIPAL SECTION---------------*/

.principal {
    padding: 5rem 1.5rem;
}

.principal .light {
    border-radius: 9999px;
    width: 25rem;
    height: 25rem;
    pointer-events: none;
    top: 2rem;
    position: absolute;
    filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: -1;
}

.principal .leftLight {
    background: radial-gradient(
        circle,
        rgba(112, 85, 247, 1) 0%,
        rgba(112, 85, 247, 0.01) 70%,
        transparent 100%
    );
    opacity: 0.1;
    left: 2.5rem;
}

.principal .rightLight {
    background: radial-gradient(
        circle,
        rgba(236, 72, 153, 1) 0%,
        rgba(236, 72, 153, 0.01) 70%,
        transparent 100%
    );
    opacity: 0.08;
    right: 2.5rem;
}

.principal .principalSection {
    gap: 0;
}

.principal .principalSection .titlePrincipal {
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin: auto auto 1.5rem;
    color: #ebe3e3;
}

.principal .principalSection .descriptionPrincipal {
    font-size: 24px;
    line-height: 32px;
    color: var(--text-color-3);
    max-width: 48rem;
    margin: auto auto 2rem;
}

.principal .principalContent {
    display: flex;
    flex-direction: column;
    margin: auto auto 3rem;
}

.principal .principalContent button {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #18181b;
    background-image: linear-gradient(
        to right,
        rgb(124, 58, 237),
        rgb(147, 51, 234)
    );
    border-radius: 12px;
    text-align: center;
    border: none;
    color: #ebe3e3;
    box-shadow: 0 2px 8px 0 rgb(51, 16, 80, 0.3);
    cursor: pointer;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    margin: auto auto 3rem;
}

.principal .principalContent button:hover {
    background-image: linear-gradient(
        to right,
        rgb(108, 49, 210),
        rgb(133, 45, 215)
    );
    transform: scale(1.02);
}

.principal .principalContent .principalStatistics {
    display: flex;
    gap: 32px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.principal .principalContent .principalStatistics .principalStatistic {
    display: flex;
    gap: 8px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-2);
    align-items: center;
    justify-content: center;
}

.ti-point-filled {
    color: rgb(82, 219, 88);
}

.ti-circle-dashed-check {
    color: rgb(82, 219, 88);
}

.ti-heart {
    color: tomato;
}

/*---------------IMPORTANT STATISTICS SECTION && ABOUT US SECTION---------------*/

.importantStatistics,
.characteristics {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 170px;
    line-height: 24px;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.importantStatistics .statistic,
.characteristics .characteristic {
    display: flex;
    flex-direction: column;
    background-color: #ffffff0d;
    border-color: #ffffff1a;
    border-radius: 16px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 2px 8px 0 rgb(51, 16, 80, 0.1);
    line-height: 24px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.importantStatistics .statistic:hover,
.characteristics .characteristic:hover {
    transform: scale(1.06);
    box-shadow: 0 2px 8px 0 rgb(51, 16, 80, 0.3);
    background-color: #ffffff18;
}

.importantStatistics .statistic .iconStatistic,
.characteristics .characteristic .iconCharacteristic {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 12px;
    padding: 12px;
    width: fit-content;
    text-align: center;
    margin-bottom: 12px;
}

.importantStatistics .statistic .iconStatistic i,
.characteristics .characteristic .iconCharacteristic i {
    color: #fff;
    line-height: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.importantStatistics .statistic .statisticInfo {
    display: flex;
    flex-direction: column;
}

.importantStatistics .statistic .statisticInfo .numberStatistic {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0px 0px 4px;
    text-align: center;
}

.importantStatistics .statistic .statisticInfo .descriptionStatistic {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.characteristics .characteristic .iconCharacteristic {
    padding: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
    height: 4rem;
}

.characteristics .characteristic .iconCharacteristic i {
    font-size: 34px;
    margin: auto;
    display: flex;
}

.characteristics .characteristic .characteristicTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px 0px 12px;
    text-align: center;
}

.characteristics .characteristic .iconCurrent-location {
    background-image: linear-gradient(
        to right,
        rgb(168, 85, 247),
        rgb(236, 72, 153)
    );
}

.characteristics .characteristic .iconUsers {
    background-image: linear-gradient(
        to right,
        rgb(59, 130, 246),
        rgb(6, 182, 212)
    );
}

.characteristics .characteristic .iconBolt {
    background-image: linear-gradient(
        to right,
        rgb(34, 197, 94),
        rgb(16, 185, 129)
    );
}

.characteristics .characteristic .iconAward {
    background-image: linear-gradient(
        to right,
        rgb(249, 115, 22),
        rgb(239, 68, 68)
    );
}

/*---------------FEATURED ACTIVITIES SECTION---------------*/

.featuredActivities {
    padding: 80px 100px;
}

.featuredActivities .activities {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: min-content;
    gap: 32px;
    line-height: 24px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 48px;
}

.featuredActivities .activities .activity {
    display: flex;
    flex-direction: column;
    padding: 1px;
    overflow: hidden;
    background-color: white;
    border-radius: 16px;
    height: fit-content;
    box-shadow: 0 2px 8px 0 rgba(40, 11, 62, 0.18);
    align-items: stretch;
}

.featuredActivities .activities .activity:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 8px 0 rgba(40, 11, 62, 0.4);
}

.featuredActivities .activities .activity .activityImage {
    height: 45%;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.featuredActivities .activities .activity .activityImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0;
}

.featuredActivities .activities .activity:hover .activityImage img {
    transform: scale(1.09);
    transition: all 0.3s ease-in-out;
}

.featuredActivities .activities .activity .activityInfo {
    display: flex;
    flex-direction: column;
    background-color: #f6f3f8;
    min-height: 100%;
    text-align: left;
    color: var(--text-color-4);
    padding: 24px;
}

.featuredActivities .activities .activity .activityInfo .activityTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 8px;
    color: var(--text-color-S);
}

.featuredActivities .activities .activity .activityInfo .activityDescription {
    font-size: 15px;
    width: fit-content;
    margin-bottom: 1rem;
}

.featuredActivities
    .activities
    .activity
    .activityInfo
    .locationDatetime_activity {
    display: flex;
    font-size: 14px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.featuredActivities
    .activities
    .activity
    .activityInfo
    .locationDatetime_activity
    span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.featuredActivities
    .activities
    .activity
    .activityInfo
    .priceRegistered_activity {
    display: flex;
    justify-content: space-between;
}

.featuredActivities
    .activities
    .activity
    .activityInfo
    .priceRegistered_activity
    .activityPrice {
    background-image: linear-gradient(
        to right,
        rgb(147, 51, 234),
        rgb(219, 39, 119)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.featuredActivities #moreActivities {
    display: flex;
    padding: 0.7rem 1.4rem;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #18181b;
    background-image: linear-gradient(
        to right,
        rgb(124, 58, 237),
        rgb(147, 51, 234)
    );
    border-radius: 12px;
    text-align: center;
    border: none;
    color: #ebe3e3;
    box-shadow: 0 2px 8px 0 rgb(51, 16, 80, 0.3);
    cursor: pointer;
    gap: 10px;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    margin: auto;
}

.featuredActivities #moreActivities:hover {
    background-image: linear-gradient(
        to right,
        rgb(108, 49, 210),
        rgb(133, 45, 215)
    );
    transform: scale(1.02);
}

/*---------------INVITATION SECTION---------------*/

.invitation {
    background-color: #fff;
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247),
        rgb(236, 72, 153)
    );
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 rgba(40, 11, 62, 0.4);
    color: var(--text-color-P);
    line-height: 24px;
    padding: 48px;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.invitation .titleSection {
    margin-bottom: 32px;
}

.invitation #goLogin {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    color: var(--text-color-especial);
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
    gap: 8px;
    justify-content: center;
    line-height: 28px;
    padding: .7rem 1.4rem;
    text-align: center;
    margin: auto;
    width: fit-content;
    white-space: nowrap;
    border: none;
}

/*---------------BUTTON UP---------------*/

.up {
    transition: all 0.3s ease-in-out;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 999999px;
    border: 1px solid #633e89de;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(15px);
    background-color: #3d1a6664;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    padding: 10px;
    width: 40px;
    height: 40px;
    color: var(--text-color-P);
}

.up:hover {
    background-color: #8338d864;
}

.up i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: large;
    color: var(--secondary-color);
}

/*-------------- PRINCIPAL SECTION --------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 20px 10px;
    color: var(--text-color-P);
    gap: 10px;
    margin-top: 40px;
}
