@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --text-color-P: rgba(255, 255, 255, 0.8);
    --text-color-S: #1f2937;
    --text-color-2: #fff9;
    --text-color-3: rgb(216, 216, 216);
    --text-color-4: #4b5563;
    --text-color-especial: #9333ea;
}

* {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s ease-out;
}

html {
    min-height: 100%;
    background: linear-gradient(
        115deg,
        #1c183a 0%,
        #591d85 49%,
        #591d85 50%,
        #591d85 51%,
        #1c183a 100%
    );
    background-repeat: no-repeat;
    background-size: 100% auto;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--text-color-P);
    min-height: 100%;
}

/*-------------- HEADER --------------*/

header {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    min-width: 100%;
    padding: 10px 5%;
    border-bottom: 1px solid #633e89de;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(15px);
    background-color: #3d1a6664;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .headerContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: min-content;
    white-space: nowrap;
}

header .headerContainer .backButton,
header .actionButtons span {
    align-items: center;
    color: var(--text-color-P);
    display: flex;
    gap: 8px;
    line-height: 24px;
    cursor: pointer;
}

header .headerContainer .logoContainer {
    display: flex;
    gap: 12px;
    align-items: center;
}

header .headerContainer .logoContainer img {
    display: flex;
    width: 32px;
    height: 32px;
}

header .headerContainer .logoContainer h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

header .actionButtons {
    display: flex;
    gap: 20px;
    align-items: center;
}

header .actionButtons button {
    align-items: center;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    line-height: 20px;
    padding: 11px 16px;
    text-align: center;
    border: none;
    font-weight: 600;
    color: var(--text-color-P);
    font-size: 14px;
    background-image: linear-gradient(
        to right,
        rgb(124, 58, 237),
        rgb(147, 51, 234)
    );
    transition: all 0.9s ease-in-out !important;
}

header .actionButtons button:hover {
    background-image: linear-gradient(
        to right,
        rgb(136, 74, 243),
        rgb(155, 62, 242)
    );
    cursor: pointer;
    color: var(--text-color-3);
    transition: all 0.9s ease-in-out !important;
}

header .actionButtons span:hover,
header .headerContainer .backButton:hover {
    color: var(--text-color-2);
    transition: all ease-in-out 0.3s;
}

/*-------------- MAIN --------------*/

main {
    display: flex;
    flex-direction: column;
    padding: 32px 5%;
}

.beginning-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
    gap: 8px;
}

.beginning-text h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.beginning-text p {
    font-size: 18px;
    color: var(--text-color-2);
    line-height: 28px;
}

/*-------------- FULL CARDS --------------*/

.statistic-cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 136px;
    line-height: 24px;
    align-items: center;
}

.statistic-cards .activity-card {
    background-color: #ffffff0d;
    border: solid 1px#ffffff1a;
    padding: 24px;
    border-radius: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-card p {
    font-weight: 500;
    color: var(--text-color-3);
}

.statistic-cards .icon {
    display: flex;
    padding: 12px;
    border-radius: 12px;
}

.statistic-cards .icon i {
    font-size: 24px;
}

.statistic-cards .icon1 {
    background-color: #3b82f633;
    color: #60a5fa;
}

.statistic-cards .icon2 {
    background-color: #22c55e33;
    color: #4ade80;
}

.statistic-cards .icon3 {
    background-color: #eab30833;
    color: #facc15;
}

.statistic-cards .icon4 {
    background-color: #a855f733;
    color: #c084fc;
}

.statistic-cards .text {
    display: flex;
    flex-direction: column;
}

.statistic-cards .text span {
    font-size: 12px;
    line-height: 16px;
}

.statistic-cards .text p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--text-color-2);
}

.statistic-cards .text h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: var(--text-color-3);
    margin: 0 0 8px;
}

.statistic-cards span {
    align-items: center;
    font-size: 12px;
}

.statistic-cards .span1 {
    background-color: #22c55e33;
    border: #0000 1px solid;
    border-radius: 9999px;
    white-space: nowrap;
    width: min-content;
    font-size: 12px;
    color: #86efac;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 10px;
}

.statistic-cards .span2 {
    color: #49d27d;
}

.statistic-cards .span3 {
    color: var(--text-color-2);
}

.statistic-cards .span3 i {
    color: #facc15;
}

.statistic-cards .span4 {
    color: #86efac;
}

.statistic-cards .span1:hover {
    cursor: pointer;
    background-color: #22c55e33;
}

/*-------------- CARDS CONTENT --------------*/

.cards-content {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;
    gap: 33px;
    margin-bottom: 32px;
}

.cards-principal {
    background-color: #ffffff0d;
    border: #ffffff1a solid;
    border-radius: 16px;
    border-width: 0.666667px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 24px;
}

.TitleHeaderContainer {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    gap: 8px;
    letter-spacing: -0.6px;
    line-height: 24px;
    padding: 0;
    width: 100%;
    margin-bottom: 24px;
}

.TitleHeaderContainer i {
    color: #f97316;
    fill: none;
    font-size: 24px;
    letter-spacing: -0.6px;
    line-height: 24px;
    stroke: #f97316;
}

.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}

.engagement-metrics .cards {
    display: flex;
    flex-direction: column;
    height: min-content;
}

.engagement-metrics .cards .nameCard {
    font-size: 14px;
    font-weight: 500;
}

.engagement-metrics .cards #num {
    font-size: 18px;
    font-weight: 700;
}

.cards-content .tittle {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.engagement-metrics #span {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    margin: 0px 0px 8px;
}

.engagement-metrics .cards .averageContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 16px;
    color: var(--text-color-2);
}

.engagement-metrics .cards .averageContainer * {
    font-size: 12px;
}

.engagement-metrics .cards .averageContainer #averageTitle {
    font-size: 13px;
}

.commitment-rate {
    border-color: #ffffff1a;
    border-style: solid;
    border-width: 0.666667px 0px 0px;
    line-height: 24px;
    padding: 16px 0px 0px;
}

.commitment-rate .span {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    margin: 0px 0px 8px;
    gap: 8px;
}

.commitment-rate .span .num {
    color: #4ade80;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.commitment-rate{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.commitment-rate .engagement {
    display: flex;
    flex-direction: column;
}

.commitment-rate .engagement progress, .progress {
    appearance: none;
    max-height: 8px;
    width: 100%;
    border-radius: 9999px;
}

.commitment-rate .engagement progress::-webkit-progress-bar, .progress::-webkit-progress-bar {
    background-color: #ffffff1a;
    border-radius: 10px;
}

.commitment-rate .engagement progress::-webkit-progress-value, .progress::-webkit-progress-value {
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 10px;
}

/* Para Firefox */
.commitment-rate .engagement progress::-moz-progress-bar, .progress::-moz-progress-ba {
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 10px;
}

/* Para IE y Edge antiguos */
.commitment-rate .engagement progress::-ms-fill, .progress::-ms-fill {
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 10px;
}

.cards-content2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 24px;
}

.div-content{
    padding-bottom: 24px;
}

.div-content .tittle-span{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.div-content .tittle-span .activity{
    display: flex;
    color: var(--text-color-2);
    gap: 12px;
}

.div-content .tittle-span i{
    color: #facc15;
}

.div-content .value-span{
    color: #4ade80;
    font-size: 12px;
}

.cards-content2 .experience-events progress{
    appearance: none;
    max-height: 8px;
    width: 94%;
    border-radius: 9999px;
}

.experience-events .progress-result{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
}

.cards-content2 .experience-events progress::-webkit-progress-bar {
    background-color: #ffffff1a;
    border-radius: 10px;
}

.cards-content2 .experience-events progress::-webkit-progress-value {
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 10px;
}

/* Para Firefox */
.cards-content2 .experience-events progress::-moz-progress-bar {
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 10px;
}

/* Para IE y Edge antiguos */
.cards-content2 .experience-events progress::-ms-fill {
    background-image: linear-gradient(
        to right,
        rgb(139, 92, 246),
        rgb(168, 85, 247)
    );
    border-radius: 10px;
}

.cards-content .all-events{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.event-popular .div-content{
    background-color: #ffffff0d;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 12px;
    gap: 16px;
}

.num-events, .num-eventsIncome {
    display: flex;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(251, 146, 60), rgb(239, 68, 68));
    border-radius: 9999999px;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
}

.detailsPopular {
    flex: 1 1 0%;
}

.flex-item{
    color: var(--text-color-2);
    display: flex;
    gap: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px
}

.text-tittle{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.flex-item i{
    color: #facc15;
}

.div-content .upcoming{
    background-color: #3b82f633;
    color: #93c5fd;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 10px;
    cursor: default;
    line-height: 16px;
}

.div-content .completed{
    background-color: #22c55e33;
    color: #86efac;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 10px;
    cursor: default;
}

.num-eventsIncome {
    display: flex;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(74, 222, 128), rgb(16, 185, 129));
    border-radius: 9999999px;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
}

.value-events{
    color: #4ade80;
    font-size: 12px;
    font-weight: 500;
}


/* BOOTOM CARDS */

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    align-items: stretch;
    padding: 0 5%;
}

.bottom-cards .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.bottom-cards .ocupationCard {
    display: flex;
    flex-direction: column;
}

.bottom-cards .ocupationCard .ocupationContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-cards .ocupationCard .ocupationContent h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin: 0px 0px 8px;
    text-align: center;
}

.bottom-cards .ocupationCard .ocupationContent progress {
    margin: 0px 0px 16px;
}

.bottom-cards .ocupationCard .ocupationContent span {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-color-2);
    text-align: center;
}

.bottom-cards .destributionCard {
    display: flex;
    flex-direction: column;
}

.bottom-cards .destributionCard .destributionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottom-cards .destributionCard .destributionContent .destributionItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
}

.bottom-cards .destributionCard .destributionContent .destributionItem span {
    font-size: 14px;
    line-height: 20px;
}

.bottom-cards .destributionCard .destributionContent .destributionItem div {
    display: flex;
    gap: 8px;
    line-height: 24px;
    align-items: center;
}

.bottom-cards .destributionCard .destributionContent .destributionItem div p {
    font-size: 12px;
    line-height: 16px;
    color: var(--text-color-2);
}

.bottom-cards .destributionCard .destributionContent .destributionItem div span {
    align-items: center;
    background: #22c55e33;
    border-color: #0000 1px solid;
    border-radius: 9999px;
    color: #86efac;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    padding: 2px 10px;
}

.bottom-cards .destributionCard .destributionContent .destributionAveragePrice {
    display: flex;
    flex-direction: column;
    border-color: #ffffff1a; 
    border-width: 1px 0px 0px;
    border-style: solid;
    line-height: 24px;
    margin: 16px 0px 0px;
    padding: 8px 0px 0px;
    text-align: center;
    width: 100%; 
}

.bottom-cards .trendsCard {
    display: flex;
    flex-direction: column;
}

.bottom-cards .trendsCard .trendsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
}

.bottom-cards .trendsCard .trendsContent div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bottom-cards .trendsCard .trendsContent div p {
    color: var(--text-color-2);
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

.bottom-cards .trendsCard .trendsContent div span {
    color: var(--text-color-P);
    font-size: 14px;
    line-height: 20px;
    text-align: right;
}

.cta-section {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 32px;
    margin: 32px 5%;
    border-radius: 16px;
    background-image: linear-gradient(to right,#8B5CF6, #EC4899);
}

.cta-section .cta-content{
    display: flex;
    flex-direction: column;
}

.cta-content .cta-text1{
    font-size: 24px;
    font-weight: 700;
    margin: 0px 0px 16px;
    text-align: center;
}

.cta-content .cta-text2{
    font-size: 18px;
    margin: 0px 0px 24px;
    text-align: center;
}

.cta-button{
    display: flex;
    gap: 16px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.cta-button * {
    display: flex;
    padding: 11px 32px;
    margin: auto;
    font-size: 14px;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    border: #fff 0.666667px solid;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out
}

.cta-explore{
    background-color: #fff;
    color: #9333ea;
}

.cta-login{
    background-color: #ffffff00;
    color: #fff;
}

.cta-login:hover {
    background-color: #ffffff3f;
    color: #fff;
}